<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    {% block styles %} {% endblock %}
    <title>Task Manager</title>
  </head>
  <body>
    <header>
      <nav class="nav-extended text-shadow teal lighten-2">
        <div class="nav-wrapper">
          <a href="{{ url_for('get_tasks') }}" class="brand-logo"
            >Task Manager</a
          >
          <a href="#!" data-target="mobile-demo" class="sidenav-trigger right"
            ><i class="fas fa-bars"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('get_tasks') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">New Task</a></li>
            <li><a href="#">Manage Categories</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('get_tasks') }}">Home</a></li>
        <li>
          <h4 class="center-align light-blue-text text-darken-4">
            Task Manager
          </h4>
        </li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">New Task</a></li>
        <li><a href="#">Manage Categories</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      </ul>
    </header>

    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="row flashes">
        <h4 class="light-teal lighten-4 center-align">{{ message }}</h4>
        {% endfor %} {% endif %} {% endwith %}
      </div>
    </section>

    <main class="container">{% block content %} {% endblock %}</main>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
