{% extends 'base.html' %} {% block content %}

<h3 class="center-align">Register</h3>

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-plus prefix light-teal-text"></i>
          <input 
            id="username" 
            name="username" 
            type="text" 
            class="validate"
            minlength="5"
            maxlength="15"
            required 
            pattern="^[a-zA-Z0-9]{5,15}$"/>
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-user-lock prefix light-teal-text"></i>
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
            minlength="5"
            maxlength="15"
            required
            pattern="^[a-zA-Z0-9]{5,15}$"
          />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button
          type="submit"
          class="col s12 btn-large light-teal darken-4 text-shadow"
        >
          Submit<i:fas class="fas fa-sign-in-alt"></i:fas>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
